<div class='mt-4'>
    <h3>
        Deleted Cars
    </h3>
    <a href='/me/stored/cars'>My Cars</a>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>Description</th>
                <th scope='col'>Date Deleted</th>
                <th scope='col'>Functions</th>
            </tr>
        </thead>
        <tbody>
            {{#each cars}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.desc}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td class='button-list'>
                        <a
                            href=''
                            class='btn btn-link btn-restore'
                            data-id='{{this._id}}'
                        >Restore</a>
                        <a
                            href='#'
                            type='button'
                            class='btn btn-link'
                            data-toggle='modal'
                            data-target='#deleteModal'
                            data-id='{{this._id}}'
                        >Remove Permanently</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan='5' class='text-center'>
                        <span>There are no deleted cars</span>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div
    class='modal fade'
    id='deleteModal'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Delete car</h5>
                <button
                    type='button'
                    class='close'
                    data-dismiss='modal'
                    aria-label='Close'
                >
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Are you sure you want to delete this car permanently? This
                action cannot be undone.
            </div>
            <div class='modal-footer'>
                <button
                    id='btn-delete-car'
                    type='button'
                    class='btn btn-primary btn-danger'
                >Delete Car Permanently</button>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-dismiss='modal'
                >Close</button>
            </div>
        </div>
    </div>
</div>

{{! DELETE Form }}
<form name='delete-car-form' method='POST'></form>
<form name='restore-car-form' method='POST'></form>

<script>
    var carID; var deleteForm = document.forms['delete-car-form'];var
    restoreForm = document.forms['restore-car-form'];var restoreBtns;
    document.addEventListener("DOMContentLoaded", ()=>{restoreBtns =
    $('.btn-restore');restoreBtns.click((e)=>{e.preventDefault();var restoreId =
    e.target.getAttribute('data-id');restoreForm.action =
    `/cars/${restoreId}/restore?_method=PATCH`; restoreForm.submit();});
    $('#deleteModal').on('show.bs.modal', (event)=>{ var button =
    $(event.relatedTarget); carID = button.data('id');})}); const btnDeleteCar =
    document.querySelector('#btn-delete-car'); btnDeleteCar.onclick = ()=>{
    deleteForm.action = `/cars/${carID}/permanent?_method=DELETE`;
    deleteForm.submit() };
</script>