<form
    name='main-form'
    method='POST'
    action='/cars/handle-form-actions'
    class='mt-4'
>
    <h3>
        Deleted Cars
    </h3>
    <div class='mt-4 d-flex align-items-center'>
        <div class='form-check'>
            <input type='checkbox' class='form-check-input' id='checkbox-all' />
            <label class='form-check-label' for='checkbox-all'>Select All</label>
        </div>
        <select
            class='form-control form-control-sm form-control-action-select'
            name='action'
            required
        >
            <option value=''>-- Select Action --</option>
            <option value='restore'>Restore</option>
            <option value='permaDelete'>Delete Permanently</option>
        </select>
        <button
            class='btn btn-primary btn-sm'
            id='execute-btn'
            disabled
        >Submit</button>
    </div>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>Select</th>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>Description</th>
                <th scope='col'>Date Deleted</th>
                <th scope='col' colspan='2'>Functions</th>
            </tr>
        </thead>
        <tbody>
            {{#each cars}}
                <tr>
                    <td class='checkbox-container'>
                        <div class='form-check'>
                            <input
                                value='{{this._id}}'
                                name='carIds[]'
                                type='checkbox'
                                class='form-check-input'
                            />
                        </div>
                    </td>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.desc}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td class='button-list'>
                        <a
                            data-id='{{this._id}}'
                            href=''
                            class='btn btn-link btn-restore'
                        >Restore</a>
                        <a
                            href='#'
                            type='button'
                            class='btn btn-link'
                            data-toggle='modal'
                            data-target='#deleteModal'
                            data-id='{{this._id}}'
                        >Permanently Remove</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan='5' class='text-center'>
                        <span>There is no deleted car.</span>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<!-- Modal -->
<div
    class='modal fade'
    id='deleteModal'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Delete car</h5>
                <button
                    type='button'
                    class='close'
                    data-dismiss='modal'
                    aria-label='Close'
                >
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Are you sure you want to delete this car permanently? This
                action cannot be undone.
            </div>
            <div class='modal-footer'>
                <button
                    id='btn-delete-car'
                    type='button'
                    class='btn btn-primary btn-danger'
                >Delete Car Permanently</button>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-dismiss='modal'
                >Close</button>
            </div>
        </div>
    </div>
</div>

{{! DELETE Form }}
<form name='delete-car-form' method='POST'></form>
<form name='restore-car-form' method='POST'></form>

<script src='/js/myTrash.js'>
</script>