<div class='mt-4 grid-item'>
    <div class='row'>
        <div class='card-group'>
            {{#each cars}}
                <div class='col-sm-6 col-lg-3'>
                    <div class='card bg-light mb-3 text-dark'>
                        <a class='card-image' href='/cars/{{this.slug}}'>
                            <div class='card-image-wrapper'>
                                <img
                                    class='card-img-top'
                                    src='{{this.image}}'
                                    alt='Card image cap'
                                />
                            </div>
                        </a>
                        <div class='card-body'>
                            <div class='card-body-upper'>
                                <h5 class='card-title'>{{this.name}}</h5>
                                <p class='card-text'>{{this.desc}}</p>
                            </div>
                            <a
                                href='/cars/{{this.slug}}'
                                class='btn btn-primary card-button'
                            >See Details</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>